#home_page {
    background-color: #000;
    color: #fff;
}

#bottom-menu-grid img {
    max-width: 100%;
}

#bottom-menu-grid {
    margin-top: 30%;
}

#sd-logo-grid img {
    max-width: 80%;
}

#radio-grid {
    margin-top: 10%;
}

#sd-fasad-grid img {
    max-width: 100%;
}

#sd-fasad-grid {
    margin-top: 5%;
}

#radio {
    border: 1px solid #fff;
    text-align: center;
}

.ui-block-b {
    /* border: 1px solid red; */
}