<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
        <title>Parallax Template - Materialize</title>

            <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("css/materialize.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("css/style.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("css/materialize.min.css")">

    </head>
    <body>
        <div class="widget-item z-depth-1">
            <b>Please sign In</b> <div> <div class="row">
            <form class="col s12"> <div class="row">
                <div class="input-field col s12">
                    <i class="mdi-action-account-circle prefix">

                    </i> <input id="username" type="text" class="validate">
                    <label for="username">Enter Username</label>
                </div> <div class="input-field col s12">
                <i class="mdi-action-https prefix"></i>
                <input id="password" type="text" class="validate">
                <label for="password">Enter Password</label>
            </div> <button class="btn waves-effect waves-light" type="submit">Login Please<i class="mdi-action-lock-open right"></i></button>
            </div>
            </form>
        </div>
        </div>
        </div>




            <!--  Scripts-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="@routes.Assets.versioned("js/materialize.js")\"></script>
        <script src="@routes.Assets.versioned("js/init.js")\"></script>
        <script src="@routes.Assets.versioned("js/materialize.min.js")\"></script>

    </body>
</html>
