@(message: String)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="@routes.Assets.versioned("css/addTower.css")">
        <title>Skapa radiotorn</title>
        @*Disables "loading" print-problem from jquerymobile*@
        @*<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />*@
    </head>

    <body>
        <br><br>
        <div id="backDiv"><button id="buttonBackToAdmin" class="myButton">Tillbaka</button></div>
        <h1>Skapa radiotorn</h1><br><br><br>

        <form name="myTower" id="myTower" action="http://localhost:9000/submitTower" method="POST">
            <div id="map">
                <script src="https://code.jquery.com/jquery-2.2.3.js"   integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4="   crossorigin="anonymous"></script>
                <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.js" ></script>
                <script src="@routes.Assets.versioned("js/MapScript.js")"></script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0VKA6LegNq1Tp5I8Y1SJ7gtsZQSRaANA&libraries=geometry&callback=initMap"></script>

            </div><br>

            <div float="right">
                <ul>
                    <li>Klicka på kartan för att välja de koordinater där radiotornet ska placeras.</li><br>
                    <br>
                </ul>

                <pre>Radiotornnamn:</pre> <input type="text" name="towerName" id="towerName" required>
                <pre>Sändningens räckvidd:</pre> <input type="number" min="1" name="towerRadius" id="towerRadius" required>
                <br>
                <pre>Koordinater:</pre>
                <input type="text" id="latitude" name="latitude"><br>
                <input type="text" id="longitude" name="longitude">
                <br><br>
                <div id="submitDiv"><input type="submit" value="Skicka" class="myButton" id="submitButton"></div>
            </div>
        </form>

        <script src="@routes.Assets.versioned("js/admin.js")"></script>
    </body>
</html>