@(message: String)

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="@routes.Assets.versioned("css/addTower.css")">
        <title>ADMIN: Lägg till torn</title>
        @*Disables "loading" print-problem from jquerymobile*@
        @*<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" />*@
    </head>

    <body>

        <button id="buttonBackToAdmin" class="myButton">Tillbaka</button>
        <h1>ADMIN: Lägg till radiotorn</h1>

        <form name="myTower" id="myTower" action="http://localhost:9000/submitTower" method="POST">
            <div id="map">
                <script src="https://code.jquery.com/jquery-2.2.3.js"   integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4="   crossorigin="anonymous"></script>
                <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.js" ></script>
                <script src="@routes.Assets.versioned("js/MapScript.js")"></script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0VKA6LegNq1Tp5I8Y1SJ7gtsZQSRaANA&callback=initMap"></script>
            </div><br>

            <div float="right">
                <ul>
                    <li>Klicka på kartan för att välja de koordinater där radiotornet ska placeras.</li><br>
                    <li><strong>Zooma in</strong>: Dubbelklicka</li>
                    <li><strong>Zooma ut</strong>: Högerklicka</li>
                    <li><strong>Zooma in/ut</strong>: Scrolla</li><br><br>
                </ul>

                <pre>Tower name:</pre> <input type="text" name="towerName" id="towerName" required>
                <pre>Broadcast range:</pre> <input type="number" min="1" name="towerRadius" id="towerRadius" required>
                <pre>Coordinates:</pre>
                <input type="text" id="longitude" name="longitude">
                <input type="text" id="latitude" name="latitude"><br>
                <input type="submit" value="Submit" class="myButton" id="submitButton">
            </div>
        </form>

        <script src="@routes.Assets.versioned("js/admin.js")"></script>
    </body>
</html>