@(message: String)

<!-- Hej fredrik!! -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="@routes.Assets.versioned("css/addSound.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("css/addTower.css")">
        <title>Skapa sändning</title>
    </head>

    <body onload="populate();">
        <br><br>
        <div id="backDiv"><button id="buttonBackToAdmin" class="myButton">Tillbaka</button></div>

        <h1>Skapa sändning</h1><br><br><br>

        <form name="mySound" id="mySound" action="http://localhost:9000/submitSound" method="POST">

                <!-- Map-related scripts go here -->
            <div id="map">
                <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
                <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.js" ></script>
                <script src="@routes.Assets.versioned("js/testMap.js")"></script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0VKA6LegNq1Tp5I8Y1SJ7gtsZQSRaANA&callback=initMap"></script>
            </div><br>

            <div align="left">
                <a href="#" id="connect"><img src="@routes.Assets.versioned("/images/scconnectbuttonL.png")"/></a>
                <pre id="loggedInUserHead">Inloggad som: <span id="username"></span></pre>
                @*<pre>Sound name:</pre> <input type="text" name="name" id="name" required><br><br>*@

                    <!-- List of sounds uploaded to user's Soundcloud account, populated and enabled on login -->
                <br><br>
                <pre id="tracksHead"><label for="tracks">Sändningsnamn:</label></pre>
                <select id="tracksDrop" name="tracksDrop" required></select>

                    <!-- List of available towers -->
                <pre id="towerHead"><label for="towers">Tillhörande torn:</label></pre>
                <select id="towerDrop" name="towerDrop" onchange="map()" required></select>

                    <!-- Name of character associated with the sound -->
                <pre id="characterHead">Tillhörande karaktär:</pre>
                <input type="text" id="characterField" name="characterField" required><br><br>

                    <!-- Fields to store track data. Intended to be hidden, visible for testing purposes (they don't work) -->
                <input type="hidden" id="trackName" name="trackName">
                <input type="hidden" id="trackID" name="trackID">
                <input type="hidden" id="towerName" name="towerName">

                <div id="submitDiv">
                    <input type="submit" value="Skicka" class="myButton" id="submitButton">
                </div>


                <p>
                    <a href="http://soundcloud.com" target="new">
                        <img align="bottom" src="@routes.Assets.versioned("/images/sclogo2.png")" id="poweredByImg"/>
                    </a>
                </p>

            </div>
        </form>


        <br>
        <div id="wrap">
            <div id="content">
                <pre>@message</pre>
            </div>
        </div>

            <!-- All other scripts go here -->
        <script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script src="@routes.Assets.versioned("js/admin.js")"></script>
        <script src="@routes.Assets.versioned("js/soundcloud.js")"></script>
    </body>
</html>