@(message: String)


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="@routes.Assets.versioned("css/addSound.css")">
        <link rel="stylesheet" href="@routes.Assets.versioned("css/addTower.css")">
        <title>AdminTEMP</title>
    </head>

    <body onload="populate();">

        <button id="buttonBackToAdmin" class="myButton">Tillbaka</button>

        <h1>ADMIN: Lägg till ljud</h1>

        <form name="mySound" id="mySound" action="http://localhost:9000/submitSound" method="POST">

            <!-- Map-related scripts go here -->
            <div id="map">
                <script src="https://code.jquery.com/jquery-2.2.3.js"   integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4="   crossorigin="anonymous"></script>
                <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.js" ></script>
                <script src="@routes.Assets.versioned("js/testMap.js")"></script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0VKA6LegNq1Tp5I8Y1SJ7gtsZQSRaANA&callback=initMap"></script>
            </div><br>

            <div align="left">
                <a href="#" id="connect"><img src="@routes.Assets.versioned("/images/scconnectbuttonL.png")"/></a>
                <pre>Current user: <span id="username"></span></pre>
                @*<pre>Sound name:</pre> <input type="text" name="name" id="name" required><br><br>*@

                <!-- List of sounds uploaded to user's Soundcloud account, populated and enabled on login -->
                <pre><label for="tracks">Broadcast name:</label></pre>
                <select id="tracksDrop" name="tracksDrop" required></select>

                <!-- List of available towers -->
                <pre><label for="towers">Assign to tower:</label></pre>
                <select id="towerDrop" name="towerDrop" onchange="map()" required></select>

                <!-- Name of character associated with the sound -->
                <pre>Assign to character:</pre>
                <input type="text" id="characterField" name="characterField" required><br><br>

                <!-- Fields to store track data. Intended to be hidden, visible for testing purposes (they don't work) -->
                <input type="text" id="trackName" name="trackName">
                <input type="text" id="trackID" name="trackID">

                <input type="submit" value="Submit" class="myButton" id="submitButton">

            </div>
        </form>


        <br>
        <div id="wrap">
            <div id="content">
                <pre>@message</pre>
            </div>
        </div>

        <!-- All other scripts go here -->
        <script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script src="@routes.Assets.versioned("js/admin.js")"></script>
        <script src="@routes.Assets.versioned("js/soundcloud.js")"></script>
    </body>
</html>