

@(message: String)

@*********************
Denna fil kommer troligtvis kunna tas bort sen. Men är just nu en andra admin sida för att testa logik utan att blanda in Andres CSS saker.
*********************@

<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="@routes.Assets.versioned("css/admin.css")">
        <title>Administatör Satan PLAY</title>
    </head>
    <body>


        <a href="http://localhost:9000/" class="myButton">Backend</a>
        <h1>Administratörssida för Satan PLAY</h1>

        <div class="fred">

            <div class="user">
                <p>Lista</p>
                <a href="http://localhost:9000/formUsers" class="myButton" id="down">Användare</a><br>
                <a href="http://localhost:9000/formSounds" class="myButton" id="down">Ljudfiler</a><br>
                <a href="http://localhost:9000/formTowers" class="myButton" id="down">Radiotorn</a>
            </div>

            <div class="user">
                <p>Lägg till</p>
                <a href="http://localhost:9000/addSound" class="myButton" id="down">Ljudfil</a><br>
                <a href="http://localhost:9000/addTower" class="myButton" id="down">Radiotorn</a>
            </div>



        </div>



        <br><br><br>

        <div id="wrap">
            <div id="content">
                <pre>@message</pre>
            </div>
        </div>

    </body>
</html>

