

@(message: String)

@*********************
Denna fil kommer troligtvis kunna tas bort sen. Men är just nu en andra admin sida för att testa logik utan att blanda in Andres CSS saker.
*********************@

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AdminTEMP</title>

  <a href="http://localhost:9000/"> Tillbaka </a>

  <br><br>

  <a href="http://localhost:9000/formUsers">Users</a>

  <br>
  <a href="http://localhost:9000/formSounds">Sound</a>

  <br>


  <pre>@message</pre>


</head>
<body>

</body>
</html>