@(message: String)


<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="@routes.Assets.versioned("css/backendUI.css")">

    </head>

    <body>

        <div align="center">
            <p>PLAY BACKEND</p>
            <a href="http://localhost:9000/adminT" class="blueButton">ADMIN (temporär)</a>
            <br><br><br><br>
        </div>

        <div align="center">
            <p>Databas</p>
            <a href="http://localhost:9000/addSound" class="blueButton">Lägg till ljud (hårdkodat)</a>
            <a href="http://localhost:9000/addUser" class="blueButton">Lägg till användare (hårdkodat)</a>
            <br><br><br><br>
        </div>


        @ */
        http://satans-demokrati-72.herokuapp.com/addUsers och http://satans-demokrati-72.herokuapp.com/getUsers
        Herokus knappar disabled tills vi löst Jenkins
        *@

        <div align="center">
            <p>Heroku (disabled tillsvidare)</p>
            <a href="" class="blueButton" id="disabled">addUsers</a>
            <a href="" class="blueButton" id="disabled">getUsers</a>
            <br><br><br><br>
        </div>
    </body>

</html>