@(message: String)

Grejer från datorbasen:
<pre>
  @message
</pre>


<form action="http://localhost:9000/addUsers">
  <input type="submit" value="local/addUsers">
</form>

<form action="http://localhost:9000/getUsers">
    <input type="submit" value="local/getUsers">
</form>

<form action="http://satans-demokrati-72.herokuapp.com/addUsers">
    <input type="submit" value="herokua/addUsers">
</form>

<form action="http://satans-demokrati-72.herokuapp.com/getUsers">
    <input type="submit" value="herokua/getUsers">
</form>


<form action="http://satans-demokrati-72.herokuapp.com/getUsers">
    <input type="submit" value="Sign up">
</form>

