<!DOCTYPE html>
<html lang="en">
<head>
    <title>Satans Radio Soundcloud Integration Test</title>
    <!--<script src="https://code.jquery.com/jquery-2.2.3.js"   integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4="   crossorigin="anonymous"></script>-->
    <!--<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.js" ></script>-->
    <script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>
    <script type="text/javascript" src="JavaScript/Soundcloud.js"></script>
    <meta charset="UTF-8">
</head>
<body>
    <img src="http://googledrive.com/host/0B636f7sGUTKTcFdJdnNwQ1A0X3c"/>
    <!--Stuff below is basically taken verbatim from Codecademy course, it's really no more than a placeholder right now.-->
    <ul>
        <li id="startRecording"><a href="#">Start Recording</a></li>
        <li id="stopRecording"><a href="#">Stop Recording</a></li>
        <li id="playBack"><a href="#">Play Recorded Sound</a></li>
        <li id="upload"><a href="#">Upload</a></li>
    </ul>
    <p class="status"></p>
</body>
</html>