<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Satans Radio Soundcloud Integration Test</title>

            <!-- Scripts -->
        <script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
        <script src="https://connect.soundcloud.com/sdk/sdk-3.0.0.js"></script>

        <meta charset="UTF-8">
    </head>
    <body>
        <a href="#" id="connect"><img src="@routes.Assets.versioned("/images/scconnectbuttonL.png")"/></a>

        <div>
            <p>
            Logged in as: <span id="username"></span>
        </p> <p>
            Your profile description:
            <span id="description"></span>
        </p> <p>
            <label for="tracksDrop">Your tracks:</label> <select id="tracksDrop"></select>
        </p>

                <!-- Upload form, currently out of service for reasons detailed in Soundcloud.js -->
            @*<p>
            Upload audio below:
            </p>
            <form>
            <label>Title: <input name="title" disabled /></label><br>
            <label>File: <input name="file" type="file" accept="audio/*" disabled /></label><br>
            <button type="submit" disabled >Submit</button>
            </form>*@
        </div>

            <!-- Scripts -->
        <script src="@routes.Assets.versioned("js/soundcloud.js")"></script>
    </body>
</html>


